c = complete
u = unimplemented

c   AntiIllegal
c   Homes
c   ChatCo
u   ExploitFixer (AntiRedstone lag, elytra speed limit to start)
c   TPA
u   Commands (/vote, /nc, /speed (fly speed), /world, /back)
c   Tablist
u   Votiifer support
